<div class="dashboard-container">
  <!-- Conteúdo Principal -->
  <main class="main-content">
    <section class="management-cards">
      <div class="card">
        <div class="icon-card">
          <img src="/water-pet.png" alt="Gestão de Água" />
        </div>
        <div class="card-content">
          <h2>Gestão de <span class="highlight agua">Água</span></h2>
          <p>Acompanhe seu consumo de água, receba dicas personalizadas e utilize dispositivos de medição em tempo real!</p>
        </div>
        <div class="card-button agua">
          <button>
            Veja mais
            <i class="fa-regular fa-circle-right"></i>
          </button>
        </div>
      </div>

      <div class="card">
        <div class="icon-card">
          <img src="/energy-pet.png" alt="Gestão de Energia" width="110"/>
        </div>
        <div class="card-content">
          <h2>Gestão de <span class="highlight energia">Energia</span></h2>
          <p>Acompanhe seu consumo de energia, receba dicas personalizadas e utilize dispositivos de medição em tempo real!</p>
        </div>
        <div class="card-button energia">
          <button>
            Veja mais
            <i class="fa-regular fa-circle-right"></i>
          </button>
        </div>
      </div>

      <div class="card">
        <div class="card-icon">
          <img src="/trash-pet.png" alt="Gestão de Lixo Reciclavel" />
        </div>
        <div class="card-content">
          <h2>Coleta de <span class="highlight lixo">Lixo</span></h2>
          <p>Aprenda e pratique o descarte correto de resíduos! Localize pontos de descarte e aprenda mais sobre o impacto ambiental.</p>
        </div>
        <div class="card-button lixo">
          <button>
            Veja mais
            <i class="fa-regular fa-circle-right"></i>
          </button>
        </div>
      </div>
    </section>

    <section class="recommendations">
      <h2>Alguma recomendações para você</h2>
      <div class="car">
        <img src="/recommendation.png" alt="Recomendações" />
      </div>
    </section>
  </main>

  <!-- Painel Lateral Direito -->
  <!-- <aside class="user-panel">
    <div class="user-info">
      <div class="user-avatar">
        <img src="Avatar.png" alt="Avatar do Usuário" />
      </div>
      <h3>Lucas Oliveira</h3>
      <p>Estudante de Sustentabilidade</p>
      <button>Editar perfil</button>
    </div>
    <div class="stats">
      <h2>Estatísticas de <span>Outubro</span></h2>
      <img src="assets/stats-graph.png" alt="Gráfico de Estatísticas" />
    </div>
  </aside> -->
</div>
