<div class="container">
  <div class="banner">
    <div class="banner-content">
      <div class="banner-text">
        <h1>Aprenda e Economize: O Poder dos Recursos Essenciais nas Suas Mãos</h1>
        <p>
          Explore dicas simples, torne-se mais consciente e gerencie seus recursos de forma eficiente com o Participe.Ai!
        </p>
      </div>
    </div>
  </div>
  <div class="search-container">
    <select class="search-category">
      <option value="todos">Todas Categorias</option>
      <option value="livro">Água</option>
      <option value="música">Energia</option>
      <option value="tecnologia">Reciclagem</option>
    </select>
    <div class="search-content" >
      <input type="text" placeholder="Pesquise aqui..." />
    </div>
  </div>
  <div class="list-container">
    <div class="vid-list">
      <div class="image-container">
        <img class="thumbnail" src="https://i.ytimg.com/vi/WzyPztAnMx4/maxresdefault.jpg" alt="">
      </div>
      <div class="flex-div">
        <div class="vid-info">
          <p class="category">Água</p>
          <p class="vid-title">IRRIGAÇÃO AUTOMÁTICA muito MELHOR do que você imagina!</p>
          <button>Saiba mais</button>
        </div>
      </div>
    </div>
    <div class="vid-list">
      <div class="image-container">
        <img class="thumbnail" src="https://i.ytimg.com/vi/WzyPztAnMx4/maxresdefault.jpg" alt="">
      </div>
      <div class="flex-div">
        <div class="vid-info">
          <p class="category">Água</p>
          <p class="vid-title">IRRIGAÇÃO AUTOMÁTICA muito MELHOR do que você imagina!</p>
          <button>Saiba mais</button>
        </div>
      </div>
    </div>
    <div class="vid-list">
      <div class="image-container">
        <img class="thumbnail" src="https://i.ytimg.com/vi/WzyPztAnMx4/maxresdefault.jpg" alt="">
      </div>
      <div class="flex-div">
        <div class="vid-info">
          <p class="category">Água</p>
          <p class="vid-title">IRRIGAÇÃO AUTOMÁTICA muito MELHOR do que você imagina!</p>
          <button>Saiba mais</button>
        </div>
      </div>
    </div>
    <div class="vid-list">
      <div class="image-container">
        <img class="thumbnail" src="https://i.ytimg.com/vi/WzyPztAnMx4/maxresdefault.jpg" alt="">
      </div>
      <div class="flex-div">
        <div class="vid-info">
          <p class="category">Água</p>
          <p class="vid-title">IRRIGAÇÃO AUTOMÁTICA muito MELHOR do que você imagina!</p>
          <button>Saiba mais</button>
        </div>
      </div>
    </div>
  </div>
</div>
