<div class="login-container">
  <div class="login-card">
    <div class="container-form">
      <div class="logo">
        <img src="#" alt="Logo Participe.Ai">
      </div>
      <div class="login-form">
        <h1>Bem vindo de volta ao <span class="highlight">Participe.AI</span></h1>
        <h2>Entrar</h2>
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Digite seu email" />
          </div>
          <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" id="password" placeholder="Digite sua senha" />
          </div>
          <div class="form-remember">
            <label>
              <input type="checkbox" id="remember-me" />
              Lembrar de mim
            </label>
            <a href="#" class="forgot-password">Esqueceu a senha?</a>
          </div>
          <button type="submit" class="btn-login">Entrar</button>
        </form>
        <p>
          Ainda não tem uma conta? <a href="#" class="register-link">Cadastre-se</a>
        </p>
      </div>
      <footer>
        <p>Copyright © 2024 <span>Participe.AI</span>. Todos os direitos reservados.</p>
      </footer>
    </div>
    <div class="login-image">
      <img src="#" alt="Login imagem" />
    </div>
  </div>

</div>

