.signup-container {
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e7e7e7;
  color: #fff;
}

.signup-card {
  display: flex;
  background-color: #fff;
  color: #333;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 80%;
  height: 90%;
  overflow: hidden;
}

.signup-image {
  flex: 1;
  background-color: #004d40; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-image img {
  max-width: 100%;
  height: auto;
}

.container-form{
  flex: 1;
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.signup-form {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup-form .logo {
  margin-bottom: 10px;
}

.signup-form h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-terms {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
  color: #333;
}

.form-terms input[type="checkbox"] {
  margin-right: 8px;
  accent-color: #4caf50;
  cursor: pointer;
}

.btn-signup {
  background-color: #004d40; 
  color: #fff;
  border: none;
  padding: 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.btn-signup:hover {
  background-color: #00352c; 
}

.signup-form p {
  margin-top: 20px;
  font-size: 14px;
}
.signup-form img{
  width: 50px;
}

.signup-form .login-link {
  color: #004d40;
  text-decoration: none;
  font-weight: bold;
}

.signup-form .login-link:hover {
  text-decoration: underline;
}


.logoAcess{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.logoAcess img{
  width: 40px;
  cursor: pointer;
}

.logoAcessa img:hover{
  transform: scale(1.1);
  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

footer {
  margin-top: 5px;
  text-align: center;
  font-size: 14px;
  color: #000;
}

footer span{
  color: #4caf50;
}
